input {
    margin: 8px 0;
    box-sizing: border-box;
    width: 50%;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 3px 20px;
    border: none;
    cursor: pointer;

    width: auto;
}

input[type=file] {
    background-color: #4CAF50;
    color: white;
    padding: 3px 20px;
    border: none;
    cursor: pointer;

    width: auto;
}

input[type=radio] {
    margin: 8px 8px;
    box-sizing: border-box;
    width: auto;
}

@media screen and (max-width: 600px) {
    input[type=text], input[type=password] {
        width: 100%;
    }
    
}
